<br>
<form>
    <div *ngIf="apiResult.error" class="alert alert-danger mt-3" role="alert">
        <div class="text-center">Transaction  Failed !!  Please  Check  Your  Details.</div>
     </div>
     <div *ngIf="apiResult.success" class="alert alert-success mt-3" role="alert">
        <div class="text-center"> Transaction  Successfull  !!  Please  check  Your  Activity  Tab.</div>
     </div>
    <div class="col-md-7 offset-md-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="recaccountno" class="form-label"><b>Receiver Account No</b></label>
                        <input type="text" name="recaccountno" placeholder="Please enter receiver's account number"
                            class="form-control" id="recaccno"[(ngModel)]="transactionobject.receiveraccountholdernumber" aria-describedby="recHelp"
                            >
                        <div id="recHelp" class="form-text"></div>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="recaccname" class="form-label"><b>Receiver Account Name</b></label>
                        <input name="recaccname" placeholder="Please enter receiver's name" type="text"
                            class="form-control" id="recaccname"[(ngModel)]="transactionobject.receiveraccountholdername">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="recbic" class="form-label"><b>Receiver BIC</b></label>
                        <input name="recbic" placeholder="Please enter receiver's BIC" type="text" class="form-control"
                            id="recbic" [(ngModel)]="transactionobject.receiverBIC.bic"  (change)="getbankbybic()"
                            >      
                       </div>
                       <input type="text" value={{bankname.bankname}}>
               
                  
                    
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="amount" class="form-label"><b>Amount</b></label>
                        <input name="amount" placeholder="Please enter the amount" type="text" class="form-control"
                            id="amount"[(ngModel)]="transactionobject.inramount">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="msgcode" class="form-label"><b>Message Code</b></label>
                        <select id="msgcode" name="msgcode" class="form-select" aria-label="Default select example"
                        [(ngModel)]="transactionobject.messagecode.messagecode">
                            <option value="">Select Message Code</option>
                            <option *ngFor="let m of messagecode" [value]="m">{{m}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="recbic" class="form-label"><b>Tranfer type Code</b></label>
                        <select id="transfertypecode" name="transfertypecode" class="form-select"
                            aria-label="Default select example"[(ngModel)]="transactionobject.transfertypecode.transfertypecode">
                            <option selected>Select the TransferType</option>
                            <option *ngFor="let t of transfertype" [value]="t.code">{{t.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <button type="button" (click)="onSubmit()" class="btn btn-primary btn-danger ">Go to
                        Dashboard</button>
                </div>
                <div class="col">
                    <button type="submit" (click)="handleTransfer()"class="btn btn-success btn-primary">Initiate Transaction</button>
                </div>
            </div>
        </div>
    </div>
</form>